In [43]:
 import os
import numpy as np
import pandas as pd

In [44]:
dir_data = './Downloads/'

In [45]:
f_app = os.path.join(dir_data, 'HomeCredit_columns_description.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app, encoding='ISO-8859-1')

Path of read in data: ./Downloads/HomeCredit_columns_description.csv

In [46]:
?pd.read_csv

In [47]:
app_train.head(10)

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN
5,8,application_{train|test}.csv,FLAG_OWN_REALTY,Flag if client owns a house or flat,NaN
6,9,application_{train|test}.csv,CNT_CHILDREN,Number of children the client has,NaN
7,10,application_{train|test}.csv,AMT_INCOME_TOTAL,Income of the client,NaN
8,11,application_{train|test}.csv,AMT_CREDIT,Credit amount of the loan,NaN
9,12,application_{train|test}.csv,AMT_ANNUITY,Loan annuity,NaN

In [48]:
app_train.tail(5)

,Unnamed: 0,Table,Row,Description,Special
214,217,installments_payments.csv,NUM_INSTALMENT_NUMBER,On which installment we observe payment,NaN
215,218,installments_payments.csv,DAYS_INSTALMENT,When the installment of previous credit was su...,time only relative to the application
216,219,installments_payments.csv,DAYS_ENTRY_PAYMENT,When was the installments of previous credit p...,time only relative to the application
217,220,installments_payments.csv,AMT_INSTALMENT,What was the prescribed installment amount of ...,NaN
218,221,installments_payments.csv,AMT_PAYMENT,What the client actually paid on previous cred...,NaN

In [49]:
app_train.shape

(219, 5)

In [50]:
app_train['Row'][0:10]

0            SK_ID_CURR
1                TARGET
2    NAME_CONTRACT_TYPE
3           CODE_GENDER
4          FLAG_OWN_CAR
5       FLAG_OWN_REALTY
6          CNT_CHILDREN
7      AMT_INCOME_TOTAL
8            AMT_CREDIT
9           AMT_ANNUITY
Name: Row, dtype: object