In [12]:
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
ages = pd.DataFrame({"age": [18,22,25,27,7,21,23,37,30,61,45,41,9,18,80,100]})
bins_cut = [0,10,20,30,50,100]
ages["customized_age_grp"] = pd.cut(ages["age"], bins = bins_cut)

In [14]:
ages["equal_width_age"] = pd.cut(ages["age"], 4)

In [15]:
ages["equal_width_age"].value_counts()

(6.907, 30.25]    10
(30.25, 53.5]      3
(76.75, 100.0]     2
(53.5, 76.75]      1
Name: equal_width_age, dtype: int64

In [16]:
ages["equal_freq_age"] = pd.qcut(ages["age"], 4)
ages["equal_freq_age"].value_counts()

(42.0, 100.0]     4
(26.0, 42.0]      4
(20.25, 26.0]     4
(6.999, 20.25]    4
Name: equal_freq_age, dtype: int64

In [17]:
ages

    age customized_age_grp equal_width_age  equal_freq_age
0    18           (10, 20]  (6.907, 30.25]  (6.999, 20.25]
1    22           (20, 30]  (6.907, 30.25]   (20.25, 26.0]
2    25           (20, 30]  (6.907, 30.25]   (20.25, 26.0]
3    27           (20, 30]  (6.907, 30.25]    (26.0, 42.0]
4     7            (0, 10]  (6.907, 30.25]  (6.999, 20.25]
5    21           (20, 30]  (6.907, 30.25]   (20.25, 26.0]
6    23           (20, 30]  (6.907, 30.25]   (20.25, 26.0]
7    37           (30, 50]   (30.25, 53.5]    (26.0, 42.0]
8    30           (20, 30]  (6.907, 30.25]    (26.0, 42.0]
9    61          (50, 100]   (53.5, 76.75]   (42.0, 100.0]
10   45           (30, 50]   (30.25, 53.5]   (42.0, 100.0]
11   41           (30, 50]   (30.25, 53.5]    (26.0, 42.0]
12    9            (0, 10]  (6.907, 30.25]  (6.999, 20.25]
13   18           (10, 20]  (6.907, 30.25]  (6.999, 20.25]
14   80          (50, 100]  (76.75, 100.0]   (42.0, 100.0]
15  100          (50, 100]  (76.75, 100.0]   (42.0, 100.0]